
.page-heading{
    margin: 20px;
    text-align: center;
}

.review-card{
    width: 40%;
    margin: 50px auto ;
}

.send{
    margin: 10px 20px;
}
.reviews-list{
    display: flex;
    flex-direction: column;

}